img {width:3cm;height:3cm;}
table {width:80%;margin:auto;}
th#price {cursor:pointer;}
p {color:rgb(1, 72, 46);}
/*si chequea muestra los productos sin cheque desaparecen los productos*/
input#c1:checked ~ table tbody tr.c1 { display: table-row; }
input#c1:not(checked) ~ table tbody tr.c1 { display: none; }
input#c2:checked ~ table tbody tr.c2 { display: table-row; }
input#c2:not(checked) ~ table tbody tr.c2 { display: none; }
input#c3:checked ~ table tbody tr.c3 { display: table-row; }
input#c3:not(checked) ~ table tbody tr.c3 { display: none; }
input#c4:checked ~ table tbody tr.c4 { display: table-row; }
input#c4:not(checked) ~ table tbody tr.c4 { display: none; }

/* Resaltar filas al pasar el ratón por encima */
tr:hover {
    background-color: #e3f282; /* Color de fondo al pasar el ratón por encima */
}
